.button-external-link {
    width: 30px;
    height: 30px;
    font-size: 0;
    padding: 3px;
}

.button-default {
    border-radius: 0;
}

.members-avatar {
    background-color: transparent !important;
    border: 1px solid #e6e6e6;
}

.equipement-grid {
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    justify-content: center;
    /*border: 1px solid #f2f2f2;*/
}

.urls-mui-list {
    display: inline-flex;
}

.urls-mui-list ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

.urls-mui-list li {
    height: 40px;
}

.urls-mui-list li a {
    display: block;
    color: #000;
    float: right;
    height: 36px;
    margin: 2px;
    border-radius: 2px;
    text-decoration: none;
}

.urls-mui-list ul li {
    display: inline !important;
}

/* Change the link color on hover */
.urls-mui-list li a:hover {
    background-color: #d7d7d7;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: 100%;
}

th {
    text-align: left;
}

td, th {
    text-align: left;
    padding-left: 8px;
}

tr {
    height: 45px !important;
}

.span {
    float: right;
}


.album-details-paper {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 16px;
}

.member-chip {
    margin: 2px;
}

.member-name-variation {
    margin: 4px 0;
}

.team-item-card {
    display: flex;
    height: 95px;
    min-height: 130px;
    margin: 2px;
}

.team-item-cardmedia {
    padding: 4px;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #4b66a0;
}

.memberinfo-subject-paper {
    padding: 8px;
    margin: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.memberinfo-subject-paper li {
    text-decoration: none;
}